{%extends "layout2.html"%}
{%block content%}
{%import "_macros.html" as macro%}
    <form action="" method="post">

     
        {{macro.camposNuevos(form.matricula)}}
        {{macro.camposNuevos(form.nombre)}}
        {{macro.camposNuevos(form.apellido)}}
        {{macro.camposNuevos(form.correo)}}
       
        <input type="submit" name="btn1" value="Guardar" class="btn btn-primary">
         
       
       
    </form>
    <h2>Matricula{{mat}}</h2>
    <h2>Nombre{{nom}}</h2>
    <h2>Apellido{{ap}}</h2>
    <h2>Email{{email}}</h2>
    {%endblock%}