 <!-- ZodiacoChino.html -->
{% extends "layout2.html" %}
{% block content %}
{% import "_macros.html" as macro %}
<h1>Signo del zodíaco chino</h1>
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ macro.camposNuevos(form.nombre) }}
    {{ macro.camposNuevos(form.apellidoP) }}
    {{ macro.camposNuevos(form.apellidoM) }}
    {{ macro.camposNuevos(form.anio) }}
    {{ macro.camposNuevos(form.dia) }}
    {{ macro.camposNuevos(form.mes) }}
    {{ macro.camposNuevos(form.sexo) }}
    <input type="submit" name="btn1" value="Calcular" class="btn btn-primary">
</form>
{% if nombre and apellidoP and apellidoM and signo and imagen and edad %}
    <h4>Hola : {{ nombre }} {{ apellidoP }} {{ apellidoM }}</h4>
    <h4>Tienes: {{ edad }} años</h4>
    <h4> Tu Signo del zodíaco chino es: {{ signo }}</h4>
    <img src="{{ imagen }}" alt="{{ signo }}" style="width: 200px;">
{% endif %}
{% endblock %}